body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  min-width: 320px;
}
ul,li{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
}
@import 'common/preloader';
@import 'common/header';