.preloader#page-preloader
	.logo-wrapper
		img.logo(src='assets/img/logo.png' alt='logo')
	.loader
		.loader__line
	p.loader-word Loading
	.textBlock
		p
			span creative concept 
			| is a full-service digital agency, busy designing and building beautiful digital products, brands, and experiences.