.main-form{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.formContent{
		padding: 5%;
		display: flex;
		margin-top: 89px;
		&__text{
			width: 36%;
			h2{
				font-weight: 700;
				font-size: 110px;
				line-height: 1.4;
				margin: 0;
			}
		}
		&__form{
			width: 64%;
			display: flex;
			align-items: center;
			position: relative;
			.contact-form{
				width: 100%;
				padding: 0 16%;
				.field-container{
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin-bottom: 50px;
					&:nth-child(3){
						margin-bottom: 85px;
					}
				}
			}
		}
	}
}
.label-wrapper{
	display: flex;
	justify-content: flex-end;
	label{
		font-size: 22px;
		font-weight: 300;
		width: 100%;
		text-align: right;
		padding-right: 30px;
	}
}
.input-wrapper{
	position: relative;
	max-width: 450px;
	width: 100%;
	.input-placeholder{
		position: absolute;
		text-align: center;
		width: 100%;
		font-size: 22px;
		font-weight: 300;
		top: 50%;
		transform: translateY(-50%);
		opacity: .5;
	}
	input{
		width: 100%;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #b2b2b2;
		height: 40px;
		font-size: 22px;
		padding-left: 10px;
		outline: none;
	}
}
.submite-wrapper{
	display: flex;
	justify-content: flex-end;
}
.btn-submite,
.btn-modal-form{
	max-width: 450px;
	width: 100%;
	height: 60px;
	background-color: $main-color;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: none;
	display: inline-block;
	transition: all .4s;
	&:hover{
		background-color: #000;
	}
}
.contactInfo{
	padding: 55px 5%;
	display: flex;
	align-items: center;
	&__header{
		width: 50%;
		h3{
			font-size: 80px;
			font-weight: 300;
			margin: 0;
		}
	}
	&__text{
		width: 50%;
		display: flex;
		.contact__info{
			margin-left: 135px;
			&:nth-child(1){
				margin-left: 175px;
			}
			&-header{
				font-size: 22px;
				font-weight: 300;
				margin-bottom: 8px;
			}
			&-text{
				font-weight: 700;
				font-size: 22px;
			}
		}
	}
}
.big-btn-wrapper{
	width: 100%;
	left: 0;
	right: 0;
	transition: all .5s;
	&.visible{
		bottom: 0;
		opacity: 1;
	}
}
.btn-big{
	display: inline-block;
	width: 100%;
	background-color: $main-color;
	color: #fff;
	text-align: center;
	height: 203px;
	line-height: 203px;
	text-decoration: none;
	font-size: 75px;
	font-weight: 600;
}
.form-confirm-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.form-confirm{
	width: 100%;
	height: 100%;
	background: url('/assets/img/ok.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 50px;
	background-color: #fff;
	&__header{
		margin-bottom: 85px;
		h4{
			font-size: 60px;
			font-weight: 300;
			margin: 0;
			text-align: center;
		}
	}
	&__text{
		p{
			font-size: 22px;
			font-weight: 300;
		}
	}
}
.modal-form{
	position: fixed;
	z-index: 15;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(255,95,59,.8);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0s 0.3s;
	&._show{
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s, visibility 0s;
	}
	&__box{
		display: flex;
		vertical-align: middle;
		width: 100%;
		max-width: 1480px;
		margin: 8% auto;
	}
	&__wrapper{
		background-color: #fff;
		width: 100%;
	}
	&__content{
		position: relative;
		padding: 100px 100px 50px;
	}
	&__body{
		display: flex;
		align-items: center;
		margin-bottom: 100px;
	}
	&__header{
		width: 42%;
		h2{
			font-size: 70px;
			font-weight: 600;
			text-align: left;
			margin: 0;
			line-height: 100px;
		}
	}
	&__form{
		width: 58%;
	}
	.field-container{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 33px;
		&:nth-child(4){
			margin-bottom: 0;
		}
	}
	&__footer{
		text-align: left;
		h4{
			margin: 0;
			font-size: 22px;
			line-height: 30px;
			font-weight: 600;
			margin-bottom: 30px;
		}
		p{
			font-size: 18px;
			font-weight: 300;
		}
	}
	.submite-wrapper{
		margin-bottom: 100px;
	}
	.btn-form-close{
		text-decoration: none;
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 15px;
		&:after{
			content: '\f00d';
			font-family: 'FontAwesome';
			font-size: 16px;
			color: #000;
		}
	}
}