.main-screen{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header{
	background-color: white;
	position: fixed;
	z-index: 10;
	width: 100%;
	opacity: .95;
	/* box-shadow: 1px -1px 13px 5px rgba(0,0,0,0.48); */
	.logo{
		position: absolute;
		top: 34%;
		left: 5%;
	}
	.menu{
		display: flex;
		padding: 34px 5%;
		justify-content: flex-end;
		&__list{
			color: black;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 500;
		}
		&__item{
			display: inline-block;
			margin-left: 50px;
			opacity: 0.6;
			cursor: pointer;
			transition: all .4s;
			&_active, &:hover{
				color: #000;
				opacity: 1;
			}
		}
		&__link{
			text-decoration: none;
			color: #000;
		}
	}
}
.panels{
	overflow: hidden;
	transition: all .4s;
	margin-top: 89px;
	height: 100%;
	display: flex;
	.panel:first-child{
		border-left: none;
	}
	.panel:last-child{
		border-right: none;
	}
	.panel{
		background-size: cover;
		background-position: center;
		color: #fff;
		position: relative;
/* 		flex: 1; */
		width: 16.66%;
		display: flex;
		align-items: flex-end;
		transition: all .4s;
		border-left: 1px solid white;
		border-right: 1px solid white;
		opacity: .4;
		&:hover{
/* 			flex: 2; */
			width: 30%;
			opacity: 1;
		}
		&.open{
			opacity: 1;
/* 			flex: 1; */
			width: 100%;
			cursor: default;
			border: none;
/* 			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 100%; */
		}
		&.close{
			width: 0%;
			border: none;
		}
		&.open > div{
			cursor: default;
		}
		&__link{
			height: 100%;
			width: 100%;
			transition: all .4s;
			cursor: pointer;
			display: flex;
			align-items: flex-end;
			text-decoration: none;
		}
		&:hover .panel__content{
			opacity: 1;
		}
		&__content{
			opacity: 0;
			width: 100%;
			padding: 50px 0 45px 30px;
			background-color: #fff;
			color: #000;
			transition: all .4s;
			&-open{
				display: none;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				padding-bottom: 50px;
				.open-wrapper{
					display: flex;
					align-items: center;
					padding: 0 5%;
					justify-content: space-between;
					.panel__open-back{
						display: flex;
						align-items: center;
						.btn-back{
							display: inline-block;
							font-size: 12px;
							padding: 14px 36px;
							border: 1px solid #000;
							font-weight: 400;
							text-decoration: none;
							color: #000;
							background-color: #fff;
							white-space: nowrap;
							&:hover{
								background-color: #ff5f3b;
								color: #fff;
								border: 1px solid #ff5f3b;
							}
						}
						h3{
							font-size: 54px;
							font-weight: bold;
							color: #000;
							text-transform: uppercase;
							margin: 0 0 0 35px;
							white-space: nowrap;
						}
						p{
							font-size: 18px;
							line-height: 27px;
							max-width: 300px;
							font-weight: 600;
							color: #000;
							margin-left: 30px;
							white-space: nowrap;
						}
					}
					.btn-next{
						display: inline-block;
						font-size: 12px;
						padding: 14px 36px;
						border: 1px solid #000;
						font-weight: 400;
						text-decoration: none;
						color: #000;
						margin-left: 80px;
						background-color: #fff;
						white-space: nowrap;
						&:after{
							content: '\f105';
							font-family: 'FontAwesome';
							margin-left: 5px;
						}
						&:hover{
							background-color: #ff5f3b;
							color: #fff;
							border: 1px solid #ff5f3b;
						}
					}
				}
			}
		}
		.project__name{
			font-weight: bold;
			font-size: 25px;
			margin-top: 0;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
		.project__descr{
			font-size: 18px;
			font-weight: 300;
			margin-top: 0px;
			margin-bottom: 35px;
		}
		.project__btn{
			font-weight: 200;
			cursor: pointer;
		}
	}
}

// project description

.project-description{
	display: none;
	position: relative;
}
.projects-full{
	background-color: #fff;
	.project__content{
		display: none;
		&.active{
			display: block;
		}
	}
}
.project-wrapper{
	.project__description{
		padding: 150px 5% 0;
	}
	.company-info{
		display: flex;
		align-items: center;
		margin-bottom: 105px;
		.company-name{
			margin-right: 110px;
			font-size: 150px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.company-type{
			font-size: 40px;
			line-height: 60px;
			font-weight: 300;
		}
	}
	.creative-process{
		.textBlock-read-more{
			margin-top: 110px;
			p{
				margin-bottom: 50px;
			}
			.read-more{
				width: 255px;
				display: block;
				height: 65px;
				border:1px solid black;
				font-size: 18px;
				text-align: center;
				line-height: 65px;
				cursor: pointer;
				font-weight: 300;
				transition: all .4s;
				&:hover{
					background-color: #ff5f3b;
					color: #fff;
					border: 1px solid #ff5f3b;
				}
			}
		}
		.textBlock{
			display: flex;
			margin-bottom: 150px;
			width: 100%;
			.textBlock-name{
				width: 33.1%;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 80px;
			}
			.textBlock-descr{
				width: 66.9%;
				padding-left: 50px;
				.textBlock-header{
					margin-top: 0px;
					font-size: 50px;
					font-weight: 600;
				}
				.textBlock-text{
					font-weight: 300;
					line-height: 40px;
					font-size: 18px;
				}
			}
		}
		.imgBlock{
			img{
				max-width: 100%;
				margin-bottom: 150px;
			}
			display: flex;
			.imgBlock__small{
				width: 33.1%;
			}
			.imgBlock__big{
				width: 66.9%;
				padding-left: 50px;
			}
		}
	}
	.project__logo{
		max-width: 100%;
		margin-bottom: 150px;
	}
}
.main-gallery-img{
	padding: 0 5%;
	margin-bottom: 50px;
	img{
		max-width: 100%;
	}
}
.read-more-wrapper{
	display: none;
	overflow: hidden;
	transition: all .4s;
}
.project__gallery{
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	.gallery__column{
		width: calc(50% - 25px);
	}
	.gallery__column-name{
		font-size: 50px;
		font-weight: 600;
		letter-spacing: 3px;
		margin-top: 150px;
		margin-bottom: 100px;
	}
	.galleryImageContainer{
		overflow: hidden;
		margin-bottom: 50px;
		img{
			max-width: 100%;
			transition: all .4s;
			transform: scale(1.1);
			&:hover{
				transform: scale(1.15);
			}
		}
	}
}
.nextProject{
	display: flex;
	flex-direction: column;
	&__text{
		padding: 100px 5%;
		display: flex;
		justify-content: space-between;
		.nextProject__back{
			display: flex;
			align-items: center;
			.btn-back{
				display: inline-block;
				font-size: 12px;
				padding: 14px 36px;
				border: 1px solid #000;
				font-weight: 400;
				text-decoration: none;
				color: #000;
				&:hover{
					background-color: #ff5f3b;
					color: #fff;
					border: 1px solid #ff5f3b;
				}
			}
		}
		.nextProject__next{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			h3{
				font-size: 54px;
				text-transform: uppercase;
				margin-right: 30px;
			}
			p{
				font-size: 18px;
				line-height: 27px;
				max-width: 300px;
				font-weight: 600;
			}
			.btn-next{
				display: inline-block;
				font-size: 12px;
				padding: 14px 36px;
				border: 1px solid #000;
				font-weight: 400;
				text-decoration: none;
				color: #000;
				margin-left: 80px;
				&:after{
					content: '\f105';
					font-family: 'FontAwesome';
					margin-left: 5px;
				}
				&:hover{
					background-color: #ff5f3b;
					color: #fff;
					border: 1px solid #ff5f3b;
				}
			}
		}
	}
	&__img{
		height: 400px;
		background-size: cover;
	}
}
.project-description-wrapper{
	position: relative;
	display: none;
	height: 100vh;
}