.preloader{
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	z-index: 11;
	transition: 2s all;
	opacity: 1;
	visibility: visible;
	&.done{
		opacity: 0;
/* 		transform: translateX(100%); */
		visibility: hidden;
		.logo-wrapper{
			img{
				transform: scale(0.5);
				transition: all 1s;
			}
		}
	}
	.logo-wrapper{
		padding: 3.5% 5% 4%;
		img{
			max-width: 100%;
			transform: scale(0.85);
		}
	}
	.loader{
		width: 100%;
		height: 1px;
		background-color: #d6d6d6;
		position: relative;
		&__line{
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			background-color: black;
			transition: all .3s;
			animation: progress-bar 5s linear;
		}
	}
	.loader-word{
		text-transform: uppercase;
		padding: 60px 0 0px 12%;
	}
	.textBlock{
		padding: 0 5%;
		p{
			margin-left: 32%;
			margin-right: 15%;
			font-size: 30px;
			span{
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
}
.main-content{
	z-index: 1;
	height: 100vh;
	width: 100vw;
	background-color: lightgrey;
}
@keyframes progress-bar{
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}